<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">
            Cambiar Contraseña
        </h3>
        <form [formGroup]="cambiarPassword" (ngSubmit)="guardarPassword()">
            <div class="mb-3" style="text-align: start;">

                <input type="password" class="form-control" placeholder="Contraseña Anterior"
                    formControlName="passwordAnterior">
                <span class="text-danger ms-3"
                    *ngIf="cambiarPassword.get('passwordAnterior')?.hasError('required') && cambiarPassword.get('passwordAnterior')?.touched">
                    La contraseña <strong>es requerida</strong>
                </span>

            </div>
            <div class="mb-3" style="text-align: start;">
                <input type="password" class="form-control" placeholder="Nueva Contraseña"
                    formControlName="nuevoPassword">
                <span class="text-danger ms-3"
                    *ngIf="cambiarPassword.get('nuevoPassword')?.hasError('required') && cambiarPassword.get('nuevoPassword')?.touched">
                    La nueva contraseña <strong>es requerida</strong>
                </span>
                <span class="text-danger ms-3" *ngIf="cambiarPassword.get('nuevoPassword')?.hasError('minlength') ">
                    La contraseña debe tener como mínimo<strong>4 carácteres</strong>
                </span>
            </div>
            <div class="mb-3" style="text-align: start;">
                <input type="password" class="form-control" placeholder="Repetir Contraseña"
                    formControlName="confirmPassword">
                <span class="text-danger ms-3" *ngIf="cambiarPassword.hasError('notSame')">
                    Contraseñas<strong>distintas</strong>
                </span>
            </div>
            <div class="col text-center">
                <button class="btn btn-primary me-2 btn-acep" [disabled]="cambiarPassword.invalid">
                    Aceptar
                </button>
                <button class="btn btn-secondary" routerLink="../">
                    Volver
                </button>
            </div>
        </form>
    </div>
</div>